@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
    background-color: #ffc1ae;
}

@theme {
    --font-sour-gummy: "Sour Gummy", cursive;
}
